
{% extends "inc/base.html" %}

{% block titulo %}Usuario{% endblock %}

{% block conteudo %}

<p>Listagem</p>
<table class="w-full border-collapse border border-gray-200 bg-white text-left text-sm text-gray-500">

<Thead class = "bg-gray-50">
    <tr>
    <th scope="col" class="px-6 py-4 font-medium text-gray-900">username</th>
    <th scope="col" class="px-6 py-4 font-medium text-gray-900">admin</th>
    <th scope="col" class="px-6 py-4 font-medium text-gray-900">ativo</th>
    <th scope="col" class="px-6 py-4 font-medium text-gray-900">apagar</th>
    </tr    >
</Thead>


<tbody class="divide-y divide-gray-100 border-t border-gray-100">
{% for usr in usuarios %}

<tr class ="hover:bg-gray-50">
    <td class="px-6 py-4 font-medium text-gray-900"> <a href="/usuario_ver/{{usr.id}}">{{ usr.username}}</a></td>
    <td class="px-6 py-4">{{ usr.admin }}</td>
    <td class="px-6 py-4">{{ usr.ativo }}</td>
   <td class="inline-flex items-center gap-1.5 rounded-lg border border-gray-300 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400" ><a href="/usuario_apagar/{{ usr.id }}">Apagar</a></td>
</tr>

{% else %}
    <tr>
        <td cosplan="2">nenhum usuário</td>
    </tr>
    
{% endfor %}
</tbody>

</table>


<a href="novo_usuario.php">ADD USER</a>
{% endblock %}
